# Set default behavior to automatically normalize line endings.
* text=auto

# Force bash scripts/executables to use LF.
gradlew text eol=lf
canchaYa/gradlew text eol=lf

# Force batch files to use CRLF.
*.bat text eol=crlf
*.cmd text eol=crlf
